<a href="https://colab.research.google.com/github/haririsina/colab_gene/blob/main/gene_data_collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!wget https://ftp.ncbi.nlm.nih.gov/geo/series/GSE99nnn/GSE99039/matrix/GSE99039_series_matrix.txt.gz

--2023-01-15 13:27:26--  https://ftp.ncbi.nlm.nih.gov/geo/series/GSE99nnn/GSE99039/matrix/GSE99039_series_matrix.txt.gz
Resolving ftp.ncbi.nlm.nih.gov (ftp.ncbi.nlm.nih.gov)... 165.112.9.228, 165.112.9.230, 2607:f220:41f:250::230, ...
Connecting to ftp.ncbi.nlm.nih.gov (ftp.ncbi.nlm.nih.gov)|165.112.9.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 63827685 (61M) [application/x-gzip]
Saving to: ‘GSE99039_series_matrix.txt.gz’

GSE99039_series_mat 100%[===================>]  60.87M   118MB/s    in 0.5s

2023-01-15 13:27:26 (118 MB/s) - ‘GSE99039_series_matrix.txt.gz’ saved [63827685/63827685]

In [10]:
!gunzip --keep '/content/GSE99039_series_matrix.txt.gz'

In [11]:
import pandas as pd

In [18]:
# data_path = '/content/samples.txt'
data_path = '/content/GSE99039_series_matrix.txt'
data = pd.read_csv(data_path, sep='\t', comment='!', header=None, low_memory=False)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,549,550,551,552,553,554,555,556,557,558
0,ID_REF,GSM2630758,GSM2630759,GSM2630760,GSM2630761,GSM2630762,GSM2630763,GSM2630764,GSM2630765,GSM2630766,...,GSM2631306,GSM2631307,GSM2631308,GSM2631309,GSM2631310,GSM2631311,GSM2631312,GSM2631313,GSM2631314,GSM2631315
1,1007_s_at,5.397,4.952,5.331,5.601,5.087,5.921,5.153,5.341,5.261,...,5.583,5.535,5.737,4.937,5.765,6.056,5.989,5.697,5.567,5.529
2,1053_at,5.199,5.198,4.97,5.816,5.443,5.43,5.243,5.167,5.324,...,5.775,5.004,5.672,5.415,5.195,5.282,5.228,5.528,5.706,5.078
3,117_at,8.327,8.589,8.629,9.628,9.449,9.23,9.269,9.095,9.184,...,8.426,7.061,6.771,8.691,7.073,7.325,8.567,6.844,8.511,8.458
4,121_at,7.042,6.935,7.701,6.909,7.284,7.153,6.85,7.541,6.918,...,7.192,7.326,7.319,6.702,7.747,7.712,7.743,7.468,7.526,7.673

In [ ]:
import GEOparse

gse = GEOparse.get_GEO(geo="GSE99039", destdir="./")

print()
print("GSM example:")
gsm_list = []
for gsm_name, gsm in gse.gsms.items():
    print("Name: ", gsm_name)
    print("Metadata:",)
    
    meta_dict = {}
    for key, value in gsm.metadata.items():
        print(" - %s : %s" % (key, ", ".join(value)))
        meta_dict[key] = value
    
    temp_dict = {
        'name': gsm_name,
        'metadata': meta_dict,
        }
    
    gsm_list.append(temp_dict)

    # print ("Table data:",)
    # print (gsm.table.head())
    # break

print()
print("GPL example:")
gpl_list = []
for gpl_name, gpl in gse.gpls.items():
    print("Name: ", gpl_name)
    print("Metadata:",)
    
    meta_dict = {}
    for key, value in gpl.metadata.items():
        print(" - %s : %s" % (key, ", ".join(value)))
        meta_dict[key] = value

        temp_dict = {
        'name': gsm_name,
        'metadata': meta_dict,
        }
    
    gpl_list.append(temp_dict)

    # print("Table data:",)
    # print(gpl.table.head())
    # break

print(len(gsm_list))
print(gsm_list[0])
print(len(gpl_list))
print(gpl_list[0])